@use "global" as *;

.sub-footer {
  margin-top: rem(102);
  @include mq("md") {
    margin-top: rem(160);
  }
}
.sub-footer.sub-footer--margin {
  margin-top: rem(145);
  @include mq("md") {
    margin-top: rem(160);
  }
}

.sub-footer.sub-footer--thanks {
  margin-top: rem(144);
  @include mq("md") {
    margin-top: rem(120);
  }
}
