@use "global" as *;

.about__inner {
  position: relative;
}

.about__inner::before {
  @include mq("md") {
    content: "";
    position: absolute;
    width: rem(194);
    height: rem(181);
    bottom: rem(-90);
    right: calc(50% - min(48.5vw, rem(640)));
    background-image: url(../images/common/coral.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.about__image-box {
  margin-top: rem(25);
  @include mq("md") {
    margin-top: rem(39);
  }
}

.about__image-small {
  width: 37.1014%;
  position: relative;
  z-index: 2;
}

.about__image-small img {
  aspect-ratio: 128 / 194;
  object-fit: cover;
  width: 100%;
  height: 100%;
  @include mq("md") {
    aspect-ratio: 400 / 606;
  }
}

.about__image-large {
  width: 81.5%;
  margin-top: -48.5%;
  margin-left: auto;
  z-index: 1;
}

.about__image-large img {
  aspect-ratio: 281 / 186;
  object-fit: cover;
  width: 100%;
  height: 100%;
  @include mq("md") {
    aspect-ratio: 880 / 581;
  }
}

.about__content-box {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(-4);
    width: 74.78%;
    position: absolute;
    top: 40.5%;
    left: 19.8%;
    z-index: 2;
    display: flex;
  }
}

.about__heading {
  font-size: rem(40);
  font-weight: $regular;
  line-height: 1;
  color: $green1;
  @include mq("md") {
    width: 50%;
    font-size: rem(80);
    line-height: 1.25;
    color: $white;
  }
}

.about__text-box {
  margin-top: rem(19);
  @include mq("md") {
    margin-top: 0;
    margin-left: rem(35);
    width: 50%;
  }
}

.about__text {
  line-height: 1.5;
  color: $black1;
  @include mq("md") {
    color: $white;
  }
}

.about__button {
  margin-top: rem(37);
  text-align: center;
}
