@use "global" as *;

.archive-voice__inner {
  position: relative;
}

.archive-voice__inner::before {
  content: "";
  position: absolute;
  width: rem(120);
  height: rem(55);
  top: rem(-148);
  left: rem(15);
  z-index: -1;
  background-image: url(../images/common/sub-fish.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @include mq("md") {
    width: rem(301);
    height: rem(138);
    top: rem(-144);
    left: rem(15);
    left: calc(50% - min(49vw, rem(620.8)));
  }
}

.archive-voice__cards {
  margin-top: rem(40);
}

.archive-voice__categories {
  margin-top: rem(52);
  @include mq("md") {
    margin-top: rem(150);
  }
}
