@use "global" as *;

.blog-side {
  width: 100%;
  max-width: rem(600);
  padding: 0 rem(25);
  @include mq("md") {
    max-width: rem(294);
    padding: 0;
  }
}

.blog-side__content + .blog-side__content {
  margin-top: rem(80);
}

.blog-side__content.blog-side__content--side {
  @include mq("md") {
    margin-top: rem(80);
  }
}

.blog-side__cards {
  margin-top: rem(24);
  max-width: rem(600);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    max-width: rem(294);
  }
}

.blog-side__campaign {
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(24);
  }
}

.blog-side__archive {
  margin-top: rem(30);
}

.blog-side__content.blog-side__content--archive {
  @include mq("md") {
    margin-top: rem(90);
  }
}
