@use "global" as *;

.breadcrumbs {
  padding: rem(8) 0 0;
  font-family: "Noto Sans JP", sans-serif;
}

.breadcrumbs_inner span {
  font-size: rem(14);
  line-height: calc(20 / 14);
  font-weight: $regular;
  font-family: "Noto Sans JP", sans-serif;
  z-index: 2;
}

.breadcrumbs__items {
  display: flex;
}

.breadcrumbs__item + .breadcrumbs__item {
  margin-left: rem(7);
}
.breadcrumbs__item {
  padding-top: rem(8);
  font-size: rem(14);
  line-height: calc(20 / 14);
  font-weight: $regular;
  font-family: "Noto Sans JP", sans-serif;
  z-index: 2;
}
.breadcrumbs__item.breadcrumbs__item--white {
  color: $white;
}

.breadcrumbs__item.error {
  display: none;
}
