@use "global" as *;

.campaign-card {
  box-shadow: rem(2) rem(2) rem(10) rgba($color: $black1, $alpha: 0.25);
  display: flex;
  flex-direction: column;
}

.campaign-card__image img {
  aspect-ratio: 333 / 223;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.campaign-card__body {
  padding: rem(17);
  padding-bottom: 0;
  @include mq("md") {
    padding-top: rem(21);
  }
}

.campaign-card__body.campaign-card__body--sub {
  @include mq("md") {
    padding: rem(24) rem(24) 0;
  }
}

.campaign-card__category {
  display: inline-block;
  font-size: rem(12);
  font-weight: $regular;
  color: $green1;
  padding: rem(4.5) rem(11);
  border: rem(1) solid $green1;
  @include mq("md") {
    padding: rem(7) rem(15);
  }
}

.campaign-card__title {
  font-size: rem(16);
  font-weight: $medium;
  margin-top: rem(8);
  padding-bottom: rem(5);
  @include mq("md") {
    padding-bottom: rem(8);
  }
}

.campaign-card__title.campaign-card__title--sub {
  font-size: rem(16);
  font-weight: $medium;
  margin-top: rem(8);
  padding-bottom: 0;
  @include mq("md") {
    font-size: rem(24);
  }
}

.campaign-card__textBlock {
  padding: rem(6) rem(16) rem(16);
  margin-top: auto;
  position: relative;
  @include mq("md") {
    padding-top: rem(16);
    padding-bottom: rem(28);
  }
}

.campaign-card__textBlock::before {
  content: "";
  position: absolute;
  top: 0;
  width: 91.5%;
  height: rem(1);
  background-color: $green1;
}

.campaign-card__textBlock.campaign-card__textBlock--sub {
  padding: rem(13) rem(16) rem(14);
  @include mq("md") {
    padding: rem(24) rem(24) 0;
  }
}

.campaign-card__textBlock.campaign-card__textBlock--sub::before {
  content: "";
  position: absolute;
  top: rem(4);
  width: 89%;
  height: rem(1);
  background-color: $green1;
  @include mq("md") {
    top: rem(-3);
    width: 92%;
  }
}

.campaign-card__text {
  font-size: rem(14);
  font-weight: $regular;
  text-align: center;
  padding-top: rem(4);
  @include mq("md") {
    font-size: rem(16);
    padding-top: rem(1);
  }
}

.campaign-card__price {
  margin-top: rem(1);
  display: flex;
  align-items: baseline;
  gap: 3.5%;
  justify-content: space-evenly;
  font-family: $second-font-family;
  font-weight: $bold;
  @include mq("md") {
    margin-top: rem(-3);
  }
}

.campaign-card__price.campaign-card__price--sub {
  margin-top: rem(1);
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  font-family: $second-font-family;
  font-weight: $bold;
  gap: 0;
  @include mq("md") {
    margin-top: rem(-3);
    gap: 9%;
    justify-content: center;
  }
}

.campaign-card__price-regular {
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1;
  position: relative;
  @include mq("md") {
    font-size: clamp(rem(20), 2vw, rem(24));
  }
}

.campaign-card__price-regular.campaign-card__price-regular--sub::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: $red;
  width: 100%;
  height: rem(3);
  top: 31%;
  left: 0;
  @include mq("md") {
    top: 47%;
  }
}

.campaign-card__price-regular::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: $red;
  width: 100%;
  height: rem(3);
  top: 53%;
  left: 0;
}

.campaign-card__price-sale {
  font-size: rem(32);
  color: $green1;
  @include mq("md") {
    font-size: clamp(rem(32), 3.55vw, rem(40));
    text-align: center;
  }
}

.campaign-card__price-sale.campaign-card__price-sale--small {
  @include mq("md") {
    font-size: rem(32);
  }
}

.campaign-card__explanation {
  margin-top: rem(16);
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: $regular;
}

.campaign-card__guidance {
  text-align: center;
  padding-top: rem(32);
  padding-bottom: rem(47);
  color: $green1;
  @include mq("md") {
    padding-bottom: rem(42);
  }
}

.campaign-card__period {
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.125;
}

.campaign-card__reserve {
  margin-top: rem(6);
  font-size: rem(14);
  line-height: 1.286;
  font-weight: $regular;
}

.campaign-card__button {
  margin-top: rem(15);
}

// 下層ページ blog-side
.campaign-card__image.campaign-card__image--side img {
  aspect-ratio: 294 / 188;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// .campaign-card__body.campaign-card__body--center {
//   text-align: center;
//   padding: rem(10);
//   padding-bottom: 0;
// }

.campaign-card__textBlock.campaign-card__textBlock--side {
  padding-top: 0;
  padding-bottom: rem(13);
  margin-top: auto;
}

.campaign-card__textBlock.campaign-card__textBlock--side::before {
  position: absolute;
  top: rem(-4);
  left: rem(23);
  width: 84%;
  height: rem(1);
  background-color: $green1;
}

.campaign-card__text.campaign-card__text--side {
  font-size: rem(14);
  font-weight: $regular;
  text-align: center;
  padding-top: rem(9);
}

.campaign-card__price.campaign-card__price--side {
  justify-content: center;
  gap: 7%;
  @include mq("md") {
    margin-top: rem(3);
    gap: rem(19);
  }
}

.campaign-card__price-regular.campaign-card__price-regular--side {
  @include mq("md") {
    font-size: rem(20);
  }
}
