@use "global" as *;

.campaign-cards__items {
  display: grid;
  grid-auto-flow: column;
}

.campaign-cards__items.campaign-cards__items--column {
  display: grid;
  grid-auto-flow: initial;
  gap: rem(40);
}
