@use "global" as *;

.menu-list__title {
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1;
  border-bottom: rem(1) solid $green1;
  padding-bottom: rem(4);
  @include mq("md") {
    font-weight: $medium;
    padding: rem(4) 0;
  }
}

.menu-list__item {
  margin-top: rem(11);
  display: flex;
  justify-content: space-between;
  font-weight: $regular;
  font-size: rem(14);
  @include mq("md") {
    font-size: rem(16);
    margin-top: rem(8);
  }
}

.menu-list__course {
  width: 80%;
  line-height: calc(24 / 14);
  font-size: rem(14);
  font-weight: $regular;
  @include mq("md") {
    font-size: rem(16);
    line-height: calc(24 / 16);
  }
}

.menu-list__price {
  width: 20%;
  text-align: right;
  font-family: "Noto Sans JP", sans-serif;
  font-size: rem(14);
  line-height: calc(24 / 14);
  @include mq("md") {
    font-size: rem(16);
    line-height: calc(24 / 16);
  }
}
