@use "global" as *;

.not-found {
  position: relative;
  z-index: 1;
  color: $white;
}

.not-found__inner {
  position: relative;
}

.not-found__inner::after {
  content: "";
  position: absolute;
  width: rem(345);
  height: rem(345);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/common/404.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  @include mq("md") {
    width: rem(698);
    height: rem(698);
    top: 0;
    left: rem(25);
    transform: translateX(0);
  }
}

.not-found__content {
  color: $white;
  text-align: center;
  margin-top: rem(52);
  @include mq("md") {
    margin-top: rem(119);
  }
}

.not-found__title {
  font-family: $second-font-family;
  font-weight: $regular;
  font-size: rem(80);
  line-height: calc(96 / 80);
  letter-spacing: 0.5em;
  text-indent: 0.5em;
  @include mq("md") {
    font-size: rem(160);
    line-height: calc(192 / 160);
  }
}

.not-found__text {
  line-height: 1.3;
  font-family: $second-font-family;
  font-weight: $regular;
  font-size: rem(16);
  @include mq("md") {
    margin-top: rem(28);
  }
}

.not-found__button {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
