@use "global" as *;

.site-map {
  display: flex;
}

.site-map__inner {
  display: flex;
  padding: rem(96) rem(15) rem(80);
}

.site-map__left,
.site-map__right {
  width: calc(50% - rem(5));
  @include mq("md") {
    width: calc(50% - rem(14));
    display: flex;
    flex-direction: column;
    height: rem(240);
    flex-wrap: wrap;
    // row-gap: rem(6);
    // column-gap: rem(45);
    gap: rem(6) rem(100);
  }
}

.site-map__right {
  margin-left: rem(10);
  @include mq("md") {
    margin-left: rem(127);
  }
}

.site-map__left-items,
.site-map__right-items {
  display: flex;
  flex-direction: column;
}

.site-map__left-item a,
.site-map__right-item a {
  width: 100%;
  display: block;
  padding-top: rem(12);
  padding-bottom: rem(12);
  padding-left: rem(22);
  font-weight: $regular;
  line-height: 1.125;
}

.site-map__left-item:first-child a,
.site-map__right-item:first-child a {
  font-weight: $bold;
  position: relative;
}

.site-map__left-item:first-child a::before,
.site-map__right-item:first-child a::before {
  content: "";
  position: absolute;
  width: rem(18);
  height: rem(18);
  top: rem(8);
  left: 0;
  background-image: url(../images/common/starfish.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.site-map__left-items + .site-map__left-items,
.site-map__right-items + .site-map__right-items {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: 0;
  }
}
