@use "global" as *;

.voice-cards {
  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(82) rem(40);
  }
}

.voice-cards__container + .voice-cards__container {
  margin-top: rem(41);
  @include mq("md") {
    margin-top: 0;
  }
}
